<html lang="en">
{{> head}}
<body>
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Naturaleza</h1>
        <p>La vida es natural</p>

    </div>
    <div class="col-4">
        <img src="assets/img/nature_2.jpg" class="img-thumbnail" alt="Naturaleza" srcset="">

    </div>

</div>
{{> footer}}
</body>
</html>